<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
<head>
    {% block title %}

        <title>scdefg</title>

    {% endblock %}

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <!--   NEED TO LOAD JQUERY FIRST OR IT BREAKS -->
    <script type="text/javascript"
            src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <!--   needed for basic datatables display  -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script type="text/javascript" src="//code.jquery.com/jquery-1.12.4.js"></script>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script type="text/javascript" src="/static/js/home.js"></script>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
    <script type="text/javascript"
            src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

    <!--   needed for selection  -->
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/select/1.3.3/css/select.dataTables.min.css">
    <script type="text/javascript"
            src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"></script>

    <!-- needed for search panes integration-->
    <script type="text/javascript"
            src="https://cdn.datatables.net/searchbuilder/1.0.1/js/dataTables.searchBuilder.min.js"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/searchpanes/1.2.1/js/dataTables.searchPanes.min.js"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/datetime/1.0.3/js/dataTables.dateTime.min.js"></script>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/datetime/1.0.3/css/dataTables.dateTime.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/searchpanes/1.2.1/css/searchPanes.dataTables.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/searchbuilder/1.0.1/css/searchBuilder.dataTables.min.css">
    <!--   needed for buttons: csv, copy, excel  -->
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/buttons/1.6.5/css/buttons.dataTables.min.css">

    <script type="text/javascript"
            src="https://cdn.datatables.net/buttons/1.6.5/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.html5.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
</head>

<body class="body">
<div class="container-fluid">
    <div>
        <br>
        <div class="container-fluid" id="home-div">
            <div class="row">
                <h3> scdefg: Differential expression on single cell RNA sequencing data</h3>
                <p>This app uses <a href="https://scvi-tools.org">scvi-tools</a>, code
                    is available on <a href="https://github.com/Munfred/scdefg/">GitHub.</a></p>
                <ul>
                    <li>Select groups of interest and run a differential expression comparison.</li>
                    <li>Prior to selection you can filter the view of the groups to select.</li>
                    <li>Hold shift to select multiple rows.</li>
                    <li>Results take about 15s to compute.</li>
                    <li>You will get an interactive volcano plot, MA plot and tables with DE values.</li>
                    <li>To highlight genes add one gene per line below.</li>
                </ul>
                <div class="normal" id="intro-div">
                    {# this div gets filled with the custom text users may choose to provide#}
                </div>
            </div>
            <div class="normal">
                <form>
                    <div>
                        <textarea name="genes" rows="5" cols="30"></textarea>
                        <br>
                        <label for="lname">Job name (optional, for results files):</label>
                        <input type="text" id="jobname" name="jobname"><br>
                    </div>
                </form>
                <div>
                    <br>
                    <div id="button-div">
                        <button type="submit" value="Submit" class="btn btn-lg btn-primary">Submit 💥 📱
                            🔬
                        </button>

                    </div>
                    <div id="spinner-div">
                        <div class="spinner-border"></div>
                        Processing job...takes about 15s
                    </div>
                    <div id="newjob-div"><input type="button" class="btn-lg btn-primary"
                                                onclick="location.href='/';"
                                                value="Submit another job (refresh page)"/></div>


                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <h5>Select group 1 cells </h5>
            <div class="table_container">
                <table id="FIRST_TABLE" cellspacing="0" class="cell-border stripe display compact"
                       style="border-bottom: none; " width="100%">
                </table>
            </div>
        </div>
        <div class="col-sm-6">
            <h5>Select group 2 cells</h5>
            <div class="table_container">
                <table id="SECOND_TABLE" cellspacing="0" class="cell-border stripe display compact"
                       style="border-bottom: none; " width="100%"></table>
            </div>
        </div>
    </div>
</div>
</body>
</html>


