{% extends "template.html" %}
{% block title %}

    <title> 🌋 wormcells-de 💥 </title>

{% endblock %}
{% block body %}

    <script type="text/javascript" src="/static/js/clientside_table.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css">
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>

    <script type="text/javascript"
            src="https://cdn.datatables.net/fixedcolumns/3.3.0/js/dataTables.fixedColumns.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>


    <div class="normal">
        <div>
            {% filter markdown %}

                {% include 'introduction.txt' %}

            {% endfilter %}
        </div>
        <form>
            <div>
                <p>To highlight genes add one gene per line below. Gene names (<samp>bus-1</samp>) or ID are accepted (<samp>WBGene00018223</samp>) </p>
                <textarea name="genes" rows="5" cols="30">nlp
flp
ins</textarea>
            </div>

        </form>


        <div>
            <br>
            <button type="submit" value="Submit"
                    style="background: greenyellow; font-size:20px; width: 250px; padding: 14px 40px;">Submit 💥 📱 🔬
            </button>
        </div>
    </div>


    <h2><br> Select cells on group 1 <span style="font-size:0.4em">(Hold shift to select a range of cells)</span> </h2>
  
    <div class="table_container">
        <table id="FIRST_TABLE" cellspacing="0" class="cell-border stripe display compact"
               style="border-bottom: none; " width="100%"></table>
    </div>

    <h2><br> Select cells on group 2 <span style="font-size:0.4em">(Hold shift to select a range of cells)</span>  </h2>
    <div class="table_container">
        <table id="SECOND_TABLE" cellspacing="0" class="cell-border stripe display compact"
               style="border-bottom: none; " width="100%"></table>
    </div>
{% endblock %}
