{% extends "template.html" %}
{% block title %}

    <title> 🌋 scvi-de-flask 💥 </title>

{% endblock %}
{% block body %}

    <script type="text/javascript" src="/static/js/home.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css">
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>

    <script type="text/javascript"
            src="https://cdn.datatables.net/fixedcolumns/3.3.0/js/dataTables.fixedColumns.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">


    <div>
        <br>
        <div class="container-fluid" id="home-div">
            <div class="row">
                <div class="col-sm-4">
                    <div>
                        <div class="normal">
                            <div>

                                <h3> scvi-de-flask: scvi differential expression with a Flask GUI</h3>
                                <p>
                                    This app uses <a href="https://scvi-tools.org">scvi-tools</a>. The code for this app
                                    and more
                                    information is available at
                                    <a href="https://github.com/Munfred/scvi-de-flask/">github.com/munfred/scvi-de-flask</a>
                                </p>
                                <p>
                                    It allows you to quickly perform differential expression on single cell RNA
                                    sequencing data.
                                    Just select cell types and experiments to compare and some genes to highlight.
                                    It will produce an interactive volcano plot and table with DE results in ~10s.
                                </p>
                            </div>
                            <form>
                                <div>
                                    <p>To highlight genes add one gene per line below. Gene names (<samp>bus-1</samp>)
                                        or ID are
                                        accepted
                                        (<samp>WBGene00018223</samp>) </p>
                                    <textarea name="genes" rows="5" cols="30"></textarea>
                                </div>
                            </form>
                            <div>
                                <br>
                                <button type="submit" value="Submit" class="btn btn-primary">Submit 💥 📱 🔬
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <h5>Select group 1 cells</h5>
                    <div class="table_container">
                        <table id="FIRST_TABLE" cellspacing="0" class="cell-border stripe display compact"
                               style="border-bottom: none; " width="100%">
                        </table>
                    </div>
                </div>
                <div class="col-sm-3">
                    <h5>Select group 2 cells</h5>
                    <div class="table_container">
                        <table id="SECOND_TABLE" cellspacing="0" class="cell-border stripe display compact"
                               style="border-bottom: none; " width="100%"></table>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="container-fluid" id="results-div">
        <div>
            <div id="'de-plot-div">
                <h3> Differential Expression Results </h3>
                <div style="height:100%; width:90%" id="plot-display-div"></div>
            </div>
            <div class="container-fluid" style="width:90%; height:30em" id="de-results-tables-div">
                <div class="row">
                    <div class="col-sm">
                        <h3>Enriched genes</h3>
                        <div class="col-sm">
                            <div class="table_container">
                                <table id="DE_ENRICHED_TABLE" cellspacing="0" class="cell-border stripe display compact"
                                       style="border-bottom: none; " width="100%">
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <h3>Depleted genes</h3>
                        <div class="col-sm">
                            <div class="table_container">
                                <table id="DE_DEPLETED_TABLE" cellspacing="0" class="cell-border stripe display compact"
                                       style="border-bottom: none; " width="100%">
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>




{% endblock %}
