<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
<head>
    {% block title %}{% endblock %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script type="text/javascript" src="//code.jquery.com/jquery-1.12.4.js"></script>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body class="body">


<div class="container-fluid" style="min-height:80%; margin-left: 2em" style="width: 80%px;">

    {% block body %}{% endblock %}

</div>

</body>
</html>

